project: BASEQESEC

transitions:
  closed:
    - Done
    - Dropped
    - Completed
  dropped:
    - Dropped
  processed:
    - In Progress
  passed:
    - Done

defaults:
   assignee: '{{ ERRATUM.people_assigned_to }}'
#  fields:
#    "Pool Team": "my_great_team"
#    "Story Points": 0

issues:

 - summary: "Errata Workflow Checklist {% if ERRATUM.respin_count > 0 %}(respin {{ ERRATUM.respin_count }}){% endif %}"
   description: "Task tracking particular respin of errata."
   type: task
   id: errata_task
   parent_id: errata_epic
   on_respin: close

 - summary: "Testing ER#{{ ERRATUM.id }} {{ ERRATUM.summary }} ({{ERRATUM.release}})"
   description: "Epic tracking all work on errata related to a specific release."
   type: epic
   id: errata_epic
   on_respin: keep
   auto_transition: True

 - summary: "Errata filelist check"
   description: "Compare errata filelist with a previously released advisory"
   type: subtask
   id: subtask_filelist
   parent_id: errata_task
   on_respin: close

 - summary: "SPEC file review"
   description: "Review changes made in the SPEC file"
   type: subtask
   parent_id: errata_task
   on_respin: close

 - summary: "rpminspect review"
   description: "Review rpminspect results in the CI Dashboard for all builds"
   type: subtask
   parent_id: errata_task
   on_respin: close

 - summary: "regression testing"
   description: "Run automated tests"
   type: subtask
   parent_id: errata_task
   on_respin: close
   auto_transition: True
   job_recipe: https://raw.githubusercontent.com/RedHatQE/newa/ks_recipe_job/component-recipe.yaml.sample
