issues:
 - summary: "Errata respin {{ ERRATUM.respin_count }}"
   description: "{{ ERRATUM.srpms }}"
   assignee: '{{ ERRATUM.people_assigned_to }}'
   type: task
   id: errata_task
   parent: errata_epic
   on_respin: close

 - summary: "Testing ER#{{ ERRATUM.event.id }} {{ ERRATUM.summary }}"
   description: "{{ ERRATUM.url }}"
   assignee: '{{ ERRATUM.people_assigned_to }}'
   type: epic
   id: errata_epic
   on_respin: keep

 - summary: "Errata filelist check"
   description: "Compare errata filelist with a previously released advisory"
   assignee: '{{ ERRATUM.people_assigned_to }}'
   type: subtask
   id: subtask_filelist
   parent: errata_task
   on_respin: close

 - summary: "SPEC file review"
   description: "Review changes made in the SPEC file"
   assignee: '{{ ERRATUM.people_assigned_to }}'
   type: subtask
   id: subtask_spec
   parent: errata_task
   on_respin: close

 - summary: "rpminspect review"
   description: "Review rpminspect results in the CI Dashboard for all builds"
   assignee: '{{ ERRATUM.people_assigned_to }}'
   type: subtask
   id: subtask_rpminspect
   parent: errata_task
   on_respin: close
