name: CI
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Define which Fedora version maps to which Python version
        include:
          - python-version: "3.10"
            fedora-image: "fedora:42"
            python-pkg: "python3.9"
          - python-version: "3.11"
            fedora-image: "fedora:latest"
            python-pkg: "python3.11"
          - python-version: "3.12"
            fedora-image: "fedora:latest"
            python-pkg: "python3.12"
          - python-version: "3.13"
            fedora-image: "fedora:latest"
            python-pkg: "python3.13"

    container:
      image: ${{ matrix.fedora-image }}

    steps:
      - uses: actions/checkout@v4

      - name: "Install Python ${{ matrix.python-version }} via DNF"
        run: |
          dnf install -y ${{ matrix.python-pkg }} ${{ matrix.python-pkg }}-devel gcc
          ${{ matrix.python-pkg }} -m ensurepip --upgrade
          # Link the versioned python to 'python' so hatch/scripts find it
          ln -s /usr/bin/${{ matrix.python-pkg }} /usr/local/bin/python
          ln -s /usr/bin/pip${{ matrix.python-version }} /usr/local/bin/pip || true

      - name: "Install dependencies"
        run: |
          dnf -y install make
          python -m pip install hatch
          make system/fedora

      - name: Run unittests
        run: hatch run +py=${{ matrix.python-version }} test:unit
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: 0.1.0
